 <div class="container">
<div>
  <ul>
<a href=""><li></li></a>

</ul>
</div>
    <div class="card red-light" >
      <img class="card-img-top photoEl" src={{photoUrl}} alt="car photo">
      <div class="card-body">
        <h5 class="card-title carName">{{ model }}</h5>
        <ul>
          <li class="motorEl">Motor:{{ motor }}</li>
          <li class="hpEl">Horsepower:{{ horsepower }}</li>
          <li class="tqEl">torque:{{torque}}lb</li>
          <li class="cylEl">Cylinders:{{cylinders}}</li>
          <li class="mpgEl">Mpg:{{mpgs}}</li>
          <li class="msrpEl">Mrsp:${{msrp}}</li>
        </ul>
      </div>
    </div>

    <div class="container2">
    <iframe class="videoUrl" src={{videoEmbed}}></iframe>

    <div class="card card2" >
      <div class="card-body">
        <p class="card-text carInfo">{{info}}</p>

      </div>
    </div>
</div>

  </div>